.paper {
    @apply bg-white rounded-l-[48px];

    display: grid;
    grid-template-columns: 1fr;
}

.paper.transparent {
    @apply bg-transparent py-0;
}


.paper-title {
    @apply mb-8;
}

.paper-title>.background {
    @apply relative pl-8 overflow-hidden h-[120px] w-full xl:w-96 rounded-lg;
}

.paper-title>.background::before {
    @apply absolute inset-0 bg-current opacity-10;

    content: "";
}

.paper-section {}

.paper-section>p {
    @apply text-rum-700;
}


.section-light-header {}

.section-light-header>h6 {
    @apply text-rum-700;
}
