.team {
    display: grid;
    grid-template-columns: 1fr;

    @media(min-width: theme('screens.md')) {
        grid-template-columns: 1fr 1fr;
    }

    @media(min-width: theme('screens.xl')) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    @media(min-width: 1440px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}


.team .team-member {

    @media(min-width:1280px) and (max-width: 1439px) {
        @apply last:col-span-2;
    }
}
