.team {
    display: grid;
    grid-template-columns: 1fr;

    @media(min-width: theme('screens.md')){
        grid-template-columns: 1fr 1fr;
    }
    @media(min-width: theme('screens.2xl')){
        grid-template-columns: 1fr 1fr 1fr;
    }
}
