@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy-Regular.woff2') format('woff2'),
    url('/fonts/Gilroy-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --budbo-primary-color-values: 110 45 250;
  --budbo-fade-primary-color-values: 115 107 142;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
body {
  @apply w-full h-full p-0 m-0;
}

body {
  @apply text-black font-medium font-gilroy text-base;

  background-color: rgb(243, 241, 248);
}

h1 {
  @apply font-bold text-[32px] leading-[38px];
  @apply lg:text-[72px] lg:leading-[88px];

}

h2 {
  @apply font-bold text-[32px] leading-9;
  @apply 2xl:text-[56px] 2xl:leading-[68px];

}

h3 {
  @apply font-bold text-2xl;
  @apply lg:text-[32px] lg:leading-[38px];
}

h4 {
  @apply font-semibold text-xl
}

h5 {
  @apply text-xl font-bold leading-6;
}

h6 {
  @apply font-bold text-base;
}


p {
  @apply text-lg text-rum-700 leading-7 font-medium lg:text-xl md:max-w-[600px];

}


.paper-grid-container {
  /* @apply  2xl:max-w-[1920px]; */

}

.paper-grid-container .paper-grid {
  @apply w-full;
}

.paper-grid {
  @apply pl-8 pr-4;
  @apply sm:px-12 md:pl-12;
  @apply xl:pl-48 xl:pr-44;
  @apply 2xl:max-w-[1538px] 2xl:mx-auto;

  display: grid;
  column-gap: theme('spacing.4');

  @media(min-width: theme('screens.md')) {
    grid-template-columns: 1fr 1fr 350px !important;
  }

  @media(min-width: theme('screens.md')) {
    column-gap: theme('spacing.6');
  }

  @media(min-width: theme('screens.lg')) {
    column-gap: theme('spacing.10');
  }

  @media(min-width: theme('screens.xl')) {
    column-gap: theme('spacing.10');
  }

  @media(min-width: theme('screens.2xl')) {
    column-gap: theme('spacing.20');
  }
}
