@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy-Regular.woff2') format('woff2'),
    url('/fonts/Gilroy-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --budbo-primary-color-values: 110 45 250;
  --budbo-fade-primary-color-values: 115 107 142;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
body {
  @apply w-full h-full p-0 m-0 overflow-hidden;
}

body {
  @apply text-black font-medium font-gilroy text-base;

  background-color: rgb(243, 241, 248);
}

/* div {
  @apply relative;

  &::after {
    @apply absolute inset-0 border border-red-600 pointer-events-none;
    content: "";
  }
} */

h1 {
  @apply font-bold text-[44px] leading-[54px];
  @apply lg:text-[72px] lg:leading-[88px];

}

h2 {
  @apply font-bold;
  @apply text-[32px] leading-[40px];
  @apply lg:text-[56px] lg:leading-[64px];

}

h3 {
  @apply font-bold;
  @apply text-[36px] leading-[48px];
  @apply lg:text-[48px] lg:leading-[56px];
}

h4 {
  @apply font-semibold;
  @apply text-[24px] leading-[32px];
  @apply lg:text-[32px] lg:leading-[40px];


}

h5 {
  @apply text-xl font-bold leading-6;
  @apply text-[20px] leading-[28px];
  @apply lg:text-[24px] lg:leading-[32px];


}

h6 {
  @apply font-bold text-base;
  @apply text-[18px] leading-[28px];
  @apply lg:text-[20px] lg:leading-[28px];


}


p {
  @apply text-rum-700 leading-7 font-medium;
  @apply text-lg lg:text-xl;

}

.budbo-container {
  @apply pl-8 pr-4;
  @apply sm:px-12 md:pl-12;
  @apply md:pl-8 md:px-8;
  @apply lg:pl-16 lg:pr-8;
  @apply xl:pl-48 xl:pr-40;
  @apply 2xl:pr-40;
}


.paper-grid-container {
  /* @apply  2xl:max-w-[1920px]; */

}

.paper-grid-container .paper-grid {
  @apply w-full;
}

.paper-grid {

  display: grid;
  column-gap: theme('spacing.4');

  @media(min-width: theme('screens.lg')) {
    grid-template-columns: 1fr 1fr 350px !important;
  }

  @media(min-width: theme('screens.md')) {
    column-gap: theme('spacing.6');
  }

  @media(min-width: theme('screens.lg')) {
    column-gap: theme('spacing.4');
  }

  @media(min-width: theme('screens.xl')) {
    column-gap: theme('spacing.10');
  }

  @media(min-width: theme('screens.2xl')) {
    column-gap: theme('spacing.36');
  }
}


.green-label-image {
  @apply absolute top-1/2 h-full w-max;

  right: 308px;
  transform: translate(50%, -50%);

  @media (min-width: theme('screens.md')) {
    @apply bottom-0 right-0 h-fit;

    top: unset;
    left: unset;
    transform: translate(27%, 0);

    width: 257px;
  }
}
